---
import { Image } from 'astro:assets'

import logoImage from '../assets/logo.jpg';

import slide1 from '../assets/slide-1.jpg';
import slide2 from '../assets/slide-2.jpg';
import slide3 from '../assets/slide-3.jpg';
import slide4 from '../assets/slide-4.jpg';
import slide5 from '../assets/slide-5.jpg';
---
<section class="
    container mx-auto max-w-screen-xl px-7 py-10
    lg:min-h-[500px] grid grid-cols-1 content-center font-tailblog
    prose lg:prose-xl max-w-none prose-headings:font-bold prose-headings:text-tailblog-primary prose-p:text-tailblog-secondary lg:prose-h1:text-6xl
    prose-img:mt-0 prose-img:mb-0
">
    <Image src={logoImage} width={200} alt="" loading="eager" decoding="sync" class="relative w-[150px] lg:w-[220px] flex-none overflow-hidden rounded-full"  />
    <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elit
    </p>
    <h1 class="font-tailblog-space">I see a bad-ass mother who don't take no crap off of nobody.</h1>
</section>

<section class="my-10 flex justify-center gap-5 overflow-hidden py-4 sm:gap-10">
    <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-[10px] bg-white dark:bg-tailblog-dark sm:w-3/12 sm:rounded-[10px] rotate-2">
        <Image src={slide1} width={500} alt="" />
    </div>
    <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-[10px] bg-white dark:bg-tailblog-dark sm:w-3/12 sm:rounded-[10px] -rotate-2">
        <Image src={slide2} width={500} alt="" />
    </div>
    <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-[10px] bg-white dark:bg-tailblog-dark sm:w-3/12 sm:rounded-[10px] rotate-2">
        <Image src={slide3} width={500} alt="" />
    </div>
    <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-[10px] bg-white dark:bg-tailblog-dark sm:w-3/12 sm:rounded-[10px] rotate-2">
        <Image src={slide4} width={500} alt="" />
    </div>
    <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-[10px] bg-white dark:bg-tailblog-dark sm:w-3/12 sm:rounded-[10px] -rotate-2">
        <Image src={slide5} width={500} alt="" />
    </div>
</section>